* { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
}

.admin-product-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
}

/* Imagen del producto */
.admin-product-image {
    width: calc(100% + 40px);
    height: 200px;
    margin: -20px;
    margin-bottom: 0;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}

/* Contenedor de texto */
.admin-product-card-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.admin-product-card-body h4 {
    font-size: 18px;
    font-weight: 600;
}

.admin-product-card-body p {
    font-size: 14px;
    color: #272727;
}

.admin-separed{
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.admin-product-card-body-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.admin-product-card-body-bottom p{
    font-size: 24px;
    font-weight: 700;
}

/* Botones */

.admin-action-icons {
    display: flex;
    gap: 8px;
}

.admin-action-icons button {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Botón editar */
.admin-edit-btn {
    background-color: #ffffff;
    color: #454545;
}

.admin-edit-btn:hover {
    background-color: #dcdcdc;
}

/* Botón eliminar */
.admin-delete-btn {
    background-color: #000000;
    color: white;
}

.admin-delete-btn:hover {
    background-color: #202020;
}

@media (max-width: 480px) {
    .admin-product-card{
        width: 100%;
        flex-direction: row;
        gap: 40px;
    }

    .admin-product-image {
    width: 180px;
    height: 200px;
}
}