.confirm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.confirm-box {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.confirm-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btn-cancel {
    background: #fff;
    border: 1px solid #000;
    padding: 10px 28px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-confirm {
    background: #000000;
    border: none;
    padding: 10px 28px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.btn-confirm:hover {
    background: #d93636;
}
